In [1]:
import json
from selenium import webdriver
import sqlite3
import pandas as pd

with open('../_gitignore/env_keys.json') as infile:
    env_variables = json.load(infile)

In [2]:
db_path = '../_gitignore/beer.db'

In [3]:
conn = sqlite3.connect(db_path)
query = 'SELECT * FROM user_extract'
df = pd.read_sql(query,conn)

In [4]:
df.head()

,username,beer_name,beer_description,brewery,ABV,IBU,global_rating,user_rating,first_date,recent_date,total
0,tnt,Society & Solitude #7,IPA - Imperial / Double,Hill Farmstead Brewery,8.0,None,4.38,4.25,06/17/19,06/17/19,1
1,tnt,Riwaka Single Hop Pale Ale,Pale Ale - American,Hill Farmstead Brewery,5.2,None,4.14,5.00,06/17/19,06/17/19,1
2,tnt,"Walk, Don't Run",Blonde Ale,Suarez Family Brewery,3.7,None,4.10,4.50,06/17/19,06/17/19,1
3,tnt,Czech Two,Pilsner - Czech,Gravely Brewing Co,4.1,39,3.81,4.25,06/17/19,06/17/19,1
4,tnt,Spirit of Revolt,IPA - Imperial / Double,Revolution Brewing Company,8.2,52,3.82,4.00,06/08/19,06/08/19,1

## Select User with Most Check-Ins

In [5]:
top_checkins = df.groupby('username').count()['total'].reset_index().sort_values('total', ascending=False)

In [6]:
top_checkins.head()

                     username  total
14                    Nitro13   3400
18                 RudyCptn93   2575
6                   JustinX03   2325
19  SestervikensBryggeri_Lars   1874
37                  marcusSRG   1750

In [7]:
nitro = df[df['username'] == 'Nitro13']
nitro.head()

,username,beer_name,beer_description,brewery,ABV,IBU,global_rating,user_rating,first_date,recent_date,total
18433,Nitro13,Humdinger,IPA - New England,Norbrook Farm Brewery,7.5,45,3.81,4.0,06/22/19,06/22/19,1
18434,Nitro13,Beckley Furnace Ale,Brown Ale - American,Norbrook Farm Brewery,6.0,20,3.79,4.0,06/22/19,06/22/19,1
18435,Nitro13,Bière De Fermes,Bière de Garde,Norbrook Farm Brewery,6.2,20,3.87,3.0,06/22/19,06/22/19,1
18436,Nitro13,Lucky Day,IPA - American,Norbrook Farm Brewery,7.0,42,3.65,3.5,06/22/19,06/22/19,1
18437,Nitro13,Cog Ale,Kölsch,Norbrook Farm Brewery,4.7,17,3.66,4.0,06/22/19,06/22/19,1

In [8]:
x = nitro[['beer_description', 'brewery', 'ABV', 'IBU', 'global_rating', 'total']]
y = nitro['user_rating']

In [15]:
len(x)

3400

In [14]:
len(nitro['beer_name'].unique())

3301

## Export

In [9]:
# x_raw = x
# y_raw = y

# x.to_csv("../data/x_raw.csv")
# y.to_csv("../data/y_raw.csv")