In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import

In [89]:
datafile = '../data/prepped_data_whole.csv'

In [90]:
df = pd.read_csv(datafile)

In [91]:
df.head()

,username,beer_name,ABV,IBU,global_rating,total,beertype_Adambier,beertype_Altbier,beertype_American Wild Ale,beertype_Australian Sparkling Ale,...,brewery_Örebro Brygghus,brewery_ØL,brewery_ØLKYMISTEN,brewery_Ølgaard,brewery_Ølhuset Drømmer & Divan,brewery_Ølsmia,brewery_Ørbæk Bryggeri,brewery_Švyturys,brewery_Žatecký pivovar,user_rating
0,tnt,Society & Solitude #7,8.0,45.552157,4.38,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.25
1,tnt,Riwaka Single Hop Pale Ale,5.2,45.552157,4.14,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.00
2,tnt,"Walk, Don't Run",3.7,45.552157,4.10,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.50
3,tnt,Czech Two,4.1,39.000000,3.81,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.25
4,tnt,Spirit of Revolt,8.2,52.000000,3.82,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00

## Elastic Net

In [116]:
from sklearn.linear_model import ElasticNetCV

l1_ratio_list = [.1, .5, .7, .9, .95, .99, 1]

In [119]:
# enet_cv = ElasticNetCV(l1_ratio=l1_ratio_list, fit_intercept=False, normalize=False, cv=5, random_state=12)
# enet_cv.fit(X_train, y_train)

ElasticNetCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=False,
             l1_ratio=[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1], max_iter=1000,
             n_alphas=100, n_jobs=None, normalize=False, positive=False,
             precompute='auto', random_state=12, selection='cyclic', tol=0.0001,
             verbose=0)

In [120]:
print(enet_cv.l1_ratio_, enet_cv.alpha_)

1.0 0.0002576279963295133

In [121]:
y_predict_enet = enet_cv.predict(X_test)
y_predict_enet = y_scaler.inverse_transform(y_predict_enet)

In [123]:
enet_results = pd.DataFrame([y_predict_enet, y_test]).transpose()
enet_results.columns = ['prediction', 'actual']
enet_results

      prediction  actual
0       3.952818    0.25
1       3.669982    3.50
2       3.884694    4.00
3       4.103844    4.75
4       4.323591    4.75
5       3.737905    3.50
6       3.559596    4.25
7       4.228065    4.25
8       3.643045    3.25
9       4.517151    4.25
10      3.707122    4.00
11      3.992800    2.00
12      3.933740    4.75
13      4.024140    4.25
14      3.831784    4.50
15      4.128596    4.00
16      3.583230    4.00
17      3.707173    4.00
18      3.758931    3.50
19      3.644742    4.50
20      3.832925    4.25
21      4.364439    4.00
22      3.624735    3.25
23      3.775560    3.75
24      3.674964    4.00
25      3.607334    3.75
26      3.980771    5.00
27      3.557526    3.50
28      3.785450    5.00
29      3.324919    3.00
...          ...     ...
4856    3.678107    4.25
4857    3.657445    3.75
4858    4.101772    4.25
4859    3.989519    4.25
4860    3.774675    4.00
4861    3.868674    3.50
4862    3.940974    3.75
4863    3.770169    3.75
4864    3.754776    5.00
4865    3.871646    4.00
4866    3.688670    3.50
4867    3.968626    3.75
4868    3.482710    2.00
4869    3.952818    3.50
4870    3.820963    3.75
4871    3.927962    4.50
4872    3.874593    4.25
4873    3.589743    3.75
4874    3.972759    4.00
4875    3.882136    2.75
4876    3.798966    2.50
4877    3.685443    3.50
4878    3.943811    4.00
4879    3.698279    4.00
4880    3.693050    4.00
4881    3.805015    4.00
4882    3.301975    3.50
4883    3.349660    3.25
4884    3.829260    3.50
4885    3.758255    4.50

[4886 rows x 2 columns]

In [126]:
enet_results['error'] = enet_results['prediction'] - enet_results['actual']
enet_results['abs_error'] = abs(enet_results['error'])
enet_results

      prediction  actual     error  abs_error
0       3.952818    0.25  3.702818   3.702818
1       3.669982    3.50  0.169982   0.169982
2       3.884694    4.00 -0.115306   0.115306
3       4.103844    4.75 -0.646156   0.646156
4       4.323591    4.75 -0.426409   0.426409
5       3.737905    3.50  0.237905   0.237905
6       3.559596    4.25 -0.690404   0.690404
7       4.228065    4.25 -0.021935   0.021935
8       3.643045    3.25  0.393045   0.393045
9       4.517151    4.25  0.267151   0.267151
10      3.707122    4.00 -0.292878   0.292878
11      3.992800    2.00  1.992800   1.992800
12      3.933740    4.75 -0.816260   0.816260
13      4.024140    4.25 -0.225860   0.225860
14      3.831784    4.50 -0.668216   0.668216
15      4.128596    4.00  0.128596   0.128596
16      3.583230    4.00 -0.416770   0.416770
17      3.707173    4.00 -0.292827   0.292827
18      3.758931    3.50  0.258931   0.258931
19      3.644742    4.50 -0.855258   0.855258
20      3.832925    4.25 -0.417075   0.417075
21      4.364439    4.00  0.364439   0.364439
22      3.624735    3.25  0.374735   0.374735
23      3.775560    3.75  0.025560   0.025560
24      3.674964    4.00 -0.325036   0.325036
25      3.607334    3.75 -0.142666   0.142666
26      3.980771    5.00 -1.019229   1.019229
27      3.557526    3.50  0.057526   0.057526
28      3.785450    5.00 -1.214550   1.214550
29      3.324919    3.00  0.324919   0.324919
...          ...     ...       ...        ...
4856    3.678107    4.25 -0.571893   0.571893
4857    3.657445    3.75 -0.092555   0.092555
4858    4.101772    4.25 -0.148228   0.148228
4859    3.989519    4.25 -0.260481   0.260481
4860    3.774675    4.00 -0.225325   0.225325
4861    3.868674    3.50  0.368674   0.368674
4862    3.940974    3.75  0.190974   0.190974
4863    3.770169    3.75  0.020169   0.020169
4864    3.754776    5.00 -1.245224   1.245224
4865    3.871646    4.00 -0.128354   0.128354
4866    3.688670    3.50  0.188670   0.188670
4867    3.968626    3.75  0.218626   0.218626
4868    3.482710    2.00  1.482710   1.482710
4869    3.952818    3.50  0.452818   0.452818
4870    3.820963    3.75  0.070963   0.070963
4871    3.927962    4.50 -0.572038   0.572038
4872    3.874593    4.25 -0.375407   0.375407
4873    3.589743    3.75 -0.160257   0.160257
4874    3.972759    4.00 -0.027241   0.027241
4875    3.882136    2.75  1.132136   1.132136
4876    3.798966    2.50  1.298966   1.298966
4877    3.685443    3.50  0.185443   0.185443
4878    3.943811    4.00 -0.056189   0.056189
4879    3.698279    4.00 -0.301721   0.301721
4880    3.693050    4.00 -0.306950   0.306950
4881    3.805015    4.00 -0.194985   0.194985
4882    3.301975    3.50 -0.198025   0.198025
4883    3.349660    3.25  0.099660   0.099660
4884    3.829260    3.50  0.329260   0.329260
4885    3.758255    4.50 -0.741745   0.741745

[4886 rows x 4 columns]

In [127]:
# Performance Metrics 

results_df = enet_results
print("% of points with less than 0.25 absolute error", 100*len(results_df[results_df['abs_error']<=0.25])/len(results_df))
print("% of points with less than 0.50 absolute error", 100*len(results_df[results_df['abs_error']<=0.50])/len(results_df))

mse = np.mean(results_df['error']**2)
print('\n')
print('MSE =', mse)
print('RMSE =', np.sqrt(mse))

mae = np.mean(results_df['abs_error'])
print('\n')
print('MAE =', mae)
print('RMAE =', np.sqrt(mae))

% of points with less than 0.25 absolute error 41.322144903806795
% of points with less than 0.50 absolute error 69.3614408514122


MSE = 0.33934638304851633
RMSE = 0.5825344479500902


MAE = 0.4229924519585996
RMAE = 0.6503786988813515